.player-div {
    background-color: blue;
    border: .25vh solid black;
    width: 3vh;
    height: 3vh;
    border-radius: 1.5vh;
    position: absolute;
    z-index: 10 ;
}

.away {
    background-color: red !important;
}

.active {
    border: 2px solid goldenrod !important;
}

.frisbee-color {
    background-color: white !important;
    width: 2.5vh !important;
    height: 2.5vh !important;
    border-radius: 1.25vh;
}