#menu-container {
    z-index: 10
}

#burger {
    background-color: #333;
    border: none;
    color: white;
}

#burger span {
    background-color: white;
    width: 36px;
    height: 4px;
}

#slide-out {
    position: absolute;
    left: 0;
    top: 48px;
    padding: 0 16px;
    background-color: #333; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100vw;
    transition: .2s;
    max-height: 0px;
    overflow: hidden;
}

#slide-out button {
    border: none;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    flex: 1;
    padding: 8px 24px;
}

.open { 
    max-height: 500px !important;
}